<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KeppyCounterGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KeppyNotesCounter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KeppyCounterGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="KeppyNotesCounter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <KeppyCounterGenerator.Properties.Settings>
            <setting name="CustomCounterTemplateBL" serializeAs="String">
                <value />
            </setting>
            <setting name="CounterFont" serializeAs="String">
                <value>Microsoft Sans Serif, 12pt</value>
            </setting>
            <setting name="NoTrimMilliseconds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TemplatesCounterIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WRes" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="HRes" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="UseAllThreads" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomCounterTemplateBR" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomCounterTemplateTL" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomCounterTemplateTR" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomCounterTemplateBC" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomCounterTemplateTC" serializeAs="String">
                <value />
            </setting>
            <setting name="LastExportFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastMIDIFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoveMilliseconds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastBackgroundFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="CodecSelection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DebugInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FFMpegLocation" serializeAs="String">
                <value />
            </setting>
        </KeppyCounterGenerator.Properties.Settings>
        <KeppyNotesCounter.Properties.Settings>
            <setting name="CustomCounterTemplateBL" serializeAs="String">
                <value />
            </setting>
            <setting name="CounterFont" serializeAs="String">
                <value>Microsoft Sans Serif, 12pt</value>
            </setting>
            <setting name="NoTrimMilliseconds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TemplatesCounterIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WRes" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="HRes" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="UseAllThreads" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomCounterTemplateBR" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomCounterTemplateTL" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomCounterTemplateTR" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomCounterTemplateBC" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomCounterTemplateTC" serializeAs="String">
                <value />
            </setting>
            <setting name="LastExportFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastMIDIFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoveMilliseconds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastBackgroundFolder" serializeAs="String">
                <value />
            </setting>
        </KeppyNotesCounter.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <KeppyCounterGenerator.Properties.Settings>
            <setting name="TemplatesCounterBL" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>TIME:{0}/{1} BPM:{2} BEAT:{5} BAR:{9}/{10} NOTES:{3}/{4}</string>
                        <string>TIME:{0}/{1}\nBPM:{2}\nBEAT:{5}\nBAR:{9}/{10}\nNOTES:{3}/{4}</string>
                        <string>Time:{0}/{1} Tempo:{2}BPM Notes:{3}/{4}</string>
                        <string> </string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UnstableRelease" serializeAs="String">
                <value>b</value>
            </setting>
            <setting name="TemplatesCounterBC" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TemplatesCounterBR" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TemplatesCounterTR" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string>{1}</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TemplatesCounterTC" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TemplatesCounterTL" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string>{0}</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CodecOutput" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>png</string>
                        <string>qrtle</string>
                    </ArrayOfString>
                </value>
            </setting>
        </KeppyCounterGenerator.Properties.Settings>
        <KeppyNotesCounter.Properties.Settings>
            <setting name="TemplatesCounterBL" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>TIME:{0}/{1} BPM:{2} BEAT:{5} BAR:{9}/{10} NOTES:{3}/{4}</string>
                        <string>TIME:{0}/{1}\nBPM:{2}\nBEAT:{5}\nBAR:{9}/{10}\nNOTES:{3}/{4}</string>
                        <string>Time:{0}/{1} Tempo:{2}BPM Notes:{3}/{4}</string>
                        <string> </string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UnstableRelease" serializeAs="String">
                <value>b</value>
            </setting>
            <setting name="TemplatesCounterBC" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TemplatesCounterBR" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TemplatesCounterTR" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string>{1}</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TemplatesCounterTC" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TemplatesCounterTL" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string>{0}</string>
                    </ArrayOfString>
                </value>
            </setting>
        </KeppyNotesCounter.Properties.Settings>
    </applicationSettings>
</configuration>